@font-face {
  font-family: "iconfont"; /* Project id 5032507 */
  src: url('iconfont.woff2?t=1759040591689') format('woff2'),
       url('iconfont.woff?t=1759040591689') format('woff'),
       url('iconfont.ttf?t=1759040591689') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-weidaqiadewenjianjia:before {
  content: "\e601";
}

.icon-android:before {
  content: "\e669";
}

.icon-pdf:before {
  content: "\e740";
}

.icon-txt:before {
  content: "\e689";
}

.icon-html:before {
  content: "\e68c";
}

.icon-css:before {
  content: "\e63b";
}

.icon-js:before {
  content: "\e65d";
}

.icon-mp:before {
  content: "\e8ac";
}

.icon-html1:before {
  content: "\e608";
}

.icon-duowenjianjia:before {
  content: "\e610";
}

.icon-pdf1:before {
  content: "\e8e8";
}

.icon-codelibrary:before {
  content: "\e793";
}

.icon-file-zip:before {
  content: "\e7bb";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-JPG:before {
  content: "\ec18";
}

.icon-PNG:before {
  content: "\ec19";
}

.icon-file-ppt-fill:before {
  content: "\e858";
}

.icon-file-zip-fill:before {
  content: "\e859";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-HTML:before {
  content: "\e87d";
}

.icon-android-fill:before {
  content: "\e881";
}

.icon-java-:before {
  content: "\e609";
}

.icon-css1:before {
  content: "\e60b";
}

.icon-JAVA:before {
  content: "\e618";
}

.icon-RAR:before {
  content: "\e620";
}

.icon-js1:before {
  content: "\ec68";
}

.icon-PNG1:before {
  content: "\e64d";
}

.icon-JPG1:before {
  content: "\e64e";
}

.icon-MP:before {
  content: "\e650";
}

.icon-macos:before {
  content: "\e6b2";
}

.icon-Excel:before {
  content: "\e998";
}

.icon-Word:before {
  content: "\e99a";
}

.icon-Windows:before {
  content: "\edd4";
}

.icon-_wenjianjia:before {
  content: "\e65a";
}

.icon-Excel1:before {
  content: "\e83b";
}

.icon-Txt:before {
  content: "\e83d";
}

.icon-Word1:before {
  content: "\e83e";
}

.icon-png:before {
  content: "\e63f";
}

.icon-ppt:before {
  content: "\e640";
}

.icon-PPT:before {
  content: "\e60a";
}

.icon-macos1:before {
  content: "\e611";
}

.icon-rust:before {
  content: "\e68f";
}

.icon-react:before {
  content: "\e68b";
}

.icon-react1:before {
  content: "\e613";
}

.icon-python:before {
  content: "\ec66";
}

.icon-Python:before {
  content: "\ec39";
}

.icon-json-full:before {
  content: "\ea42";
}

.icon-json:before {
  content: "\ea43";
}

.icon-word:before {
  content: "\e892";
}

.icon-java:before {
  content: "\ec0a";
}

.icon-js2:before {
  content: "\ec0c";
}

.icon-rust1:before {
  content: "\ec1c";
}

.icon-format-pdf:before {
  content: "\e82b";
}

.icon-a-ziyuan1:before {
  content: "\e7eb";
}

.icon-C:before {
  content: "\e68a";
}

.icon-a-C:before {
  content: "\e68d";
}

.icon-a-C1:before {
  content: "\e68e";
}

.icon-RUST:before {
  content: "\e690";
}

.icon-json1:before {
  content: "\e817";
}

